.main__form-button {
    background-color: inherit;
    border: 1px solid gray;
    color: gray;
}

.main__form-button:hover {
    cursor: pointer;
    color: rgba(128, 128, 128, 0.514);
    border: 1px solid rgba(128, 128, 128, 0.514);
}